<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rxas400adm.system.mapper.SysUserMenuMapper">

    <select id="selectMenuIdsByUserId" resultType="long">
        SELECT menu_id FROM rx_user_menu WHERE user_id = #{userId}
    </select>

    <delete id="deleteByUserId">
        DELETE FROM rx_user_menu WHERE user_id = #{userId}
    </delete>

    <delete id="deleteByUserIdAndMenuId">
        DELETE FROM rx_user_menu WHERE user_id = #{userId} AND menu_id = #{menuId}
    </delete>

</mapper>